<table width="100%" border="0" cellspacing="0" cellpadding="0" id="grid">    
    <!--LISTADO--> 
    <tr class='cn' id="{P_KEY}">
        <td align="left" class="texto5">{GRUPO}</td>
        <td align="left" class="texto5">{PERMISOS}</td>
        <td><a href='#'><img src='site_media/img/eliminar.png' width='16' height='16' border='0' title='Eliminar' onClick="recicla('{ID_GRUPO}','{P_KEY}')"></a></td>
    </tr>
    <!--LISTADO-->
</table>