<input name="esquema" id="esquema" value="busqueda" type="hidden">
<table cellpadding="0" cellspacing="0" width="100%"  class="tabla1" id="test0001">
    <tbody>
        <tr>
            <td align="left" colspan="2"><div class="ca texto6">Nombre</div></td>
            <td width="10%" align="left"><div class="ca texto6">Fecha</div></td>
            <td width="27%" align="left"><div class="ca texto6">Tipo</div></td>
            <td width="10%" align="left"><div class="ca texto6">Tama&ntilde;o</div></td>
        </tr>
        <tr  onMouseOver="cambionombre('NULO');">
            <td height="15" colspan="2"></td>
            <td height="15"></td>
            <td height="15"></td>
            <td height="15"></td>
        </tr>
        <!--LISTADO-->        
        <tr class="cn" onMouseOver="cambionombre('A_{P_KEY}')">
            <div class="wrapper">
                <div class="section">
                    <td align="left" width="5%"><div style="padding-left:10px;"><img src="site_media/img/ext/{EXT}.png" width="20" height="20"/></div></td>
                    <td align="left" width="48%"><div class="texto5" style="cursor: pointer; cursor: hand;" onClick="Lightbox_parent2('{P_KEY}','{EXT}')" title="Fecha de modificacion: '{FECHA_SUBIDA}'  Tama&ntilde;o: {TAMANIO}">{NOMBRE}</div></td>
                    <td align="left"><div class="texto5">{FECHA_SUBIDA}</div></td>
                    <td align="left"><div class="texto5">{TIPO}</div></td>
                    <td align="left"><div class="texto5">{TAMANIO}</div></td>
                </div>
            </div>
        </tr>
        <!--LISTADO-->
        <tr  onMouseOver="cambionombre('NULO');">
            <td height="15" colspan="2"></td>
            <td height="15"></td>
            <td height="15"></td>
            <td height="15"></td>
        </tr>
    </tbody>
</table>
<div class="sidebar" onMouseOver="cambionombre('NULO')"></div>