<table width="100%" class="tabel table-hover">
	<thead>
        <tr>
            <th width="88%">Grupo</th>
            <th width="12%"></th>
        </tr> 
    </thead>
    <tbody>	
    	<!--LISTADO-->
        <tr>
            <td>{NOMBRE}</td>
            <td><div align="center"><a href="#" onClick="recicla('{P_KEY}')" title="Eliminar"><div class="sprite del"></div></a></div></td>
        </tr> 
    	<!--LISTADO-->
    </tbody>
</table>