<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr class="cabeceraTabla">
        <td align="left">Fecha</td>
        <td align="left">Usuario</td>
        <td align="left">Archivo / Carpeta</td>
        <td align="left">Accion</td>
    </tr>
    <!--LISTADO-->
    <tr class="{fondolinea}">
        <td class="texto8">{FECHA}</td>
        <td class="texto8">{USUARIO}</td>
        <td class="texto8">{ARCHIVO}</td>
        <td class="texto8">{ACCION}</td>
    </tr>
    <!--LISTADO-->
</table>

