<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>Fecha</td>
        <td>Usuario</td>
        <td>Archivo / Carpeta</td>
        <td>Accion</td>
    </tr>
    <tr>
        <td>{FECHA}</td>
        <td>{USUARIO}</td>
        <td>{ARCHIVO}</td>
        <td>{ACCION}</td>
    </tr>
</table>

