<link href="site_media/css/jqueryFileTree_10092014.css" rel="stylesheet" media="screen" />
<script src="site_media/js/jquery.easing.js"></script>
<script src="site_media/js/jqueryFileTree.js"></script>
<script>
	function modulo(){	return '{modulo}';	}
		function VerifyIE(){
			var ie = (function(){		 
				var undef,
					v = 3,
					div = document.createElement('div'),
					all = div.getElementsByTagName('i');
				while (
					div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
					all[0]
				);		 
				return v > 4 ? v : undef;		 
			}());
			
			if( ie ){
				$(function() {
					$( "#dialog-block" ).dialog({
						height: 300,
						width: 400,
						modal: true,
						resizable: false,
						draggable: false
					});
				});
			}
		}
	
        var nombrearchivoc = 'NULO';
		var IdCarpetaClick = 'NULO';
		var copyPasteID = null;
		
		function openDirs(){
			$('#fileTree').fileTree({
				root: '',
				script: 'index.php?biblioteca_listdir',
				folderEvent: 'click',
				expandSpeed: -1,
				collapseSpeed: -1,
				multiFolder: true
			},function (file) {
				//alert(file);
			});			
		}
		
		function Lightbox_parent2(id_file,ext) {
			var supported_formats = new Array('xls','xlsx','pdf');
			if(inArray(ext, supported_formats)){
				var url="index.php?biblioteca_gdocview&cod="+id_file;
				var data = sendViaGet(url);
				if(data){
					var url = '{SITE_ROOT}';
					url = url + "/files.php?docs_view&cod="+data;
					var href = "https://docs.google.com/viewer?embedded=true&url=" + encodeURIComponent(url);
					if( window.parent.parent.Shadowbox ){
						window.parent.parent.Shadowbox.open({
							content:    href,
							player:     "iframe",
							width: 		1002,
							height:     700
						});
					}else
						Alert('Error al descargar');
				}else{
					startDownload("index.php?biblioteca_download&file=" + id_file);	
				}
			}else{
				startDownload("index.php?biblioteca_download&file=" + id_file);
			}
		}
		
        $(document).ready(function () {			
            var menuId = "menu";
            var menu = $("#" + menuId);
			
			openFile('0','');
			VerifyIE();
			
			$("#e").each(function () {
				$(this).resizable({
					handles: $(this).attr("id")
				});
			});			
			
            openDirs();
			
			$("#search").keydown(function (e){
				if(e.keyCode == 13){
					if(this.value){
						sendViaGet(setURL("_filesearch&target=rejillaArchivos&nombre=" + btoa(this.value)), cbInfo);
					}
				}
			})
						
			$(document).click(function (e) {
                if (e.button == 0 && e.target.parentNode.parentNode.id != menuId) {
                    menu.css("display", "none");
				}
            });
			
            $(document).keydown(function (e) {
                if (e.keyCode == 27) {
                    menu.css("display", "none");
				}
            });

            //EVITAMOS que se muestre el MENU CONTEXTUAL del sistema operativo al hacer CLICK con el BOTON DERECHO del RATON
			/****************************************************************************************************************************************************************************/
			
			$("#rejillaArchivos").bind("contextmenu", function (e) {
				leftClickIdDir(nombrearchivoc)
				var compare = nombrearchivoc.substr(0,2);
				//console.log('--',compare);
				$("#menu_upload").css("display", "none");
				$("#menu_mkdir").css("display", "none");
				$("#menu_rm").css("display", "none");
				$("#menu_properties").css("display", "none");
				$("#menu_shlink").css("display", "none");
				$("#menu_download").css("display", "none");				
				$("#menu_delete").css("display", "none");							
				$("#menu_cut").css("display", "none");			
				$("#menu_paste").css("display", "none");				
				
				if( $("#esquema").val()=="carpeta" ){
					if( compare == 'A_' ){					
						$("#menu_download").removeAttr("style");
						$("#menu_upload").removeAttr("style");
						$("#menu_delete").removeAttr("style");
					}else if( compare == 'C_' ){					
						$("#menu_mkdir").removeAttr("style");
						$("#menu_rm").removeAttr("style");
						$("#menu_properties").removeAttr("style");
						$("#menu_shlink").removeAttr("style");
					}else{					
						$("#menu_upload").removeAttr("style");	
					}
				}else if( $("#esquema").val()=="busqueda" ){
					$("#menu_download").removeAttr("style");
				}
				menu.css({
					'position':'fixed',
                    'display': 'block',
                    'left': e.pageX,
                    'top': e.pageY
                });				
                return false;
            }).children().bind("contextmenu",function(event){
				event.stopPropagation();
			});
			
			$("#fileTree").bind("contextmenu", function (e) {
				leftClickIdDir(nombrearchivoc)
				//var compare = nombrearchivoc.substr(0,2);
				$("#menu_download").css("display", "none");
				$("#menu_upload").css("display", "none");
				$("#menu_delete").css("display", "none");
				$("#menu_properties").css("display", "none");
				$("#menu_cut").css("display", "none");			
				$("#menu_paste").css("display", "none");
				$("#menu_mkdir").css("display", "none");
				$("#menu_rm").css("display", "none");
				$("#menu_shlink").css("display", "none");
				if( nombrearchivoc=="C_0" ){
					$("#menu_mkdir").removeAttr("style");
				}else{
					$("#menu_mkdir").removeAttr("style");
					$("#menu_rm").removeAttr("style");
					$("#menu_shlink").removeAttr("style");
					$("#menu_properties").removeAttr("style");
				}				
				menu.css({
					'position':'fixed',
                    'display': 'block',
                    'left': e.pageX,
                    'top': e.pageY
                });
                return false;
            }).children().bind("contextmenu",function(event){
				event.stopPropagation();
			});
			
			menu.click(function (e) {
                menu.css("display", "none");
				var cod = IdCarpetaClick;
				var compare = IdCarpetaClick.substr(0,2);
				
				if( compare == 'A_' )
					var cod = IdCarpetaClick.replace("A_","");
				else if( compare == 'C_' )
					var cod = IdCarpetaClick.replace("C_","");
				else
					var cod = 'NULO';
				
				switch (e.target.id) {
					case "menu_mkdir":
						var dir = prompt("Ingrese el nombre de la carpeta", "");
						var dir64 = btoa(dir);
						if (dir != null) {
							var url = setURL("_mkdir&nombre=" + dir64 + '&parent=' + cod) //'index.php?biblioteca_mkdir&nombre=' + dir64 + '&parent=' + cod;
							sendViaGet(url,lclickResp);							
						}
						break;

					case "menu_upload":
						setDialog("#up_dialog", {},500,250);
						 $("#up_dialog").dialog("open");					
						break;						
					
					case "menu_download":
						if(cod == 'NULO') return;
						startDownload(setURL("_download&file=" + cod));
						break;
						
					case "menu_delete": //ok
						if(cod == 'NULO') return;
						if( confirm("¿Esta seguro de Eliminar este archivo?") ) {
							sendViaGet(setURL("_delete&file="+cod),lclickResp);
						}
						break;
						
					case "menu_rm":
						if ( confirm("¿Esta seguro de Eliminar esta carpeta?") ){								
							sendViaGet(setURL('_rm&file=' + cod),lclickResp);
						}
						break; 	
						
					case "menu_properties": 
						if(cod == 'NULO') return;
						setDialog("#propiedades", {},600,470);
						 $("#propiedades").dialog("open");				
						document.getElementById("Ploading").src="site_media/img/blank.gif"		
						sendViaGet(setURL('_getdirgroups&target=Pcontenido&cod=' + cod),cbInfo);
						sendViaGet(setURL('_getdirinfo&target=P&cod=' + cod),cbInfo);
						break;
						
					case "menu_shlink":
						if(cod == 'NULO') return;
						$("#shlink_dir").val(cod);
						document.getElementById("form_shlink").reset();
						shlink()
						break;
				}
            });
			
			/****************************************************************************************************************************************************************************/
			
			$('#archivo').change(function () {
				$("#img_status_upload").css("display", "block");
				var url = setURL("_upload&shlink="+$("#shlink").val());
				//var url = "index.php?biblioteca_upload&shlink="+$("#shlink").val();
				sendFile(this.files, url,lclickResp);
				reset_form_element($(this));
			});

			// PROPIEDADES
			$("#Pnombre").blur(function () {
				var nombre = this.value;
				var orgnombre = $("#Pnombre_original").val();
				var cod	= $("#Pcod").val()
				if(nombre.length > 0 && nombre != orgnombre){
					sendViaGet(setURL('_rename&target=P&cod=' + cod + "&nombre="+btoa(nombre)),lclickResp);
					document.getElementById("Ploading").src="site_media/img/loading_small.gif"
				}
            });
			
			$(".parientes").click(function(){
				$("#cds").css("display", "block");	
			})
			
			$(function() {
				$( "#tabs" ).tabs();
			});
        });
		
		function lclickResp(data){
			//console.log(data);
			var json = IsJsonString(data);
			if(json){
				if(json['case']){
					switch(json['case']){
						case "mkdir":
							if( json['success']=="1" ){
								showAlert("success","Carpeta creada correctamente.");
								openFile('','');
								openDirs();
							}else
								showAlert("danger","No se pudo crear carpeta.");								
							break;
						case 'upload':
							if( json['success']=="1" ){
								showAlert("success",json['nfiles']+" archivos subidos.");
								openFile('','');
							}else
								showAlert("danger","No se pudo subir archivo. Error "+json['error']);
							$("#img_status_upload").css("display", "none");
							$("#up_dialog").dialog("close");
							break;
						case 'delete':
							if( json['success']=="1" ){
								showAlert("success","Eliminado correctamente");
								openFile('','');
							}else
								showAlert("danger","No se pudo eliminar");
							break;
						case 'rm':
							if( json['success']=="1" ){
								showAlert("success","Eliminado correctamente");
								openFile('','');
							}else
								showAlert("danger","No se pudo eliminar");
							break;
						case 'setperm':
							if( json['success']=="1" ){
								showAlert("success","Agregado correctamente");
								sendViaGet(setURL('_getdirgroups&target=Pcontenido&cod=' + $("#Pcod").val()),cbInfo);
							}else
								showAlert("danger","No se pudo agregar");
							break;
						case 'rmperm':
							if( json['success']=="1" ){
								showAlert("success","Quitado correctamente");
								sendViaGet(setURL('_getdirgroups&target=Pcontenido&cod=' + $("#Pcod").val()),cbInfo);
							}else
								showAlert("danger","No se pudo eliminar");
							break;
						case 'rename':
							if( json['success']=="1" ){
								setElementValue(json['data'],true,json['target']);
								document.getElementById("Ploading").src="site_media/img/ok_icon.png"
							}else{								
								document.getElementById("Ploading").src="site_media/img/error2.png"
							}
							break;
						case 'mklink':
							$("#gen_link").val(atob(json['link']));
							break;	
					}
				}else if(json['append']){
					
				}
			}else
				showAlert("danger","Error.");
		}
		
		function guardar_datos(){
			var cod	= $("#Pcod").val()
			var grupo 	= $("#Pgrupos").val()			
			if (grupo && cod) {
				if ( grupo != '0' ) {
					sendViaGet(setURL("_addperm&grupo="+grupo+"&cod="+cod),lclickResp);
				} else if( grupo == '0' ) {					
					alert("Faltan los siguientes datos:\n - Modulo");	
				}
			}							
		}
		function recicla(grupo){
			var cod	= $("#Pcod").val()				
			if (cod && grupo) {
				sendViaGet(setURL("_quitperm&grupo="+grupo+"&cod="+cod),lclickResp);
			}
		}
		function cambionombre(cnombre) {
			//console.log(cnombre);
			nombrearchivoc = cnombre;
		}
		function leftClickIdDir(ID) {
			IdCarpetaClick = ID;
		}
        function openFile(file, nombre){
			$("#search").val('')
			sendViaGet(setURL("_listfiles&target=rejillaArchivos&cadena=" + file), cbInfo);
		}
		
		function shlink(){
			setDialog("#dialog_shlink", {},550,420);
			$("#dialog_shlink").dialog("open");
		}	
		function generar_link(){
			var url = setURL("_mklink&"+$( "#form_shlink" ).serialize());
			//console.log(url);
			sendViaGet(url,lclickResp);
		}
		function muestra_link(data){
			json = IsJsonString(data);
			if( json ){
				json = $.parseJSON(data);
				if( json['success'] )
					msg = atob(json['link']);
				else
					msg = 'Error Desconocido';
			}else
				msg = 'Error Desconocido';
			$("#gen_link").val(msg);
		}		
	</script>
    <style>
	/*
	html{
    height: 100%;
    margin: 0;
    padding: 0;
}*/
	</style>

<form id="form_busqueda" name="form_busqueda" method="post" action="index.php?biblioteca_listfiles" target="frame_grid">
<input type="hidden" id="cadena" name="cadena">    
</form>
<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" style="" role="widget">
    <header role="heading">
        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
        <h2>Biblioteca</h2>
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>
    <!-- widget div-->
    <div role="content" style="padding:13px;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div style="display: table;" class="parent">                	
                        <div style="display: table-row;">
                            <div id="e" style="display: table-cell;">
                                <div id="fileTree" class="arbol_carpetas">
                                    <div id="sidebar"></div>
                                </div>
                            </div>
                            <div class="last" style="display: table-cell;">
                            	<div style="height:40px; background-color:#039;">
									<div class="dt-toolbar">
                                    	<div class="col-xs-12 col-sm-6 hidden-xs">
                                        	<div id="datatable_fixed_column_filter" class="dataTables_filter">
                                            	<label>
                                                	<span class="input-group-addon">
                                                    	<i class="glyphicon glyphicon-search"></i>
                                                    </span> 
                                                <input type="search" id="search" class="form-control" aria-controls="datatable_fixed_column" style="height:32px;"></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12 hidden-xs">
                                            <div class="toolbar">
                                                <div class="text-right">
                                                	<!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="rejillaArchivos"></div>
                            </div>
                        </div> 
                    </div>                   
                </td>
            </tr>
        </table>
    </div>
<!-- end widget content -->
</div>

<div id="menu">
    <ul>
        <li id="menu_download">Descargar</li>            
        <li id="menu_upload">Subir Archivo</li>
        <li id="menu_delete">Eliminar</li>
        <li id="menu_mkdir">Crear Carpeta</li>
        <li id="menu_rm">Eliminar Carpeta</li>
        <li id="menu_cut">Cortar</li>
        <li id="menu_paste">Pegar</li>            
        <li id="menu_shlink">Compartir Carpeta</li>
        <li id="menu_properties">Propiedades de Carpeta</li>
    </ul>
</div>
<div style="display:none;">
	<iframe id="download" width="1" height="1"></iframe>
    
    <div id="up_dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  onClick="cierraModal('up_dialog')">×</button>
            <h4 class="modal-title">Subir Archivos</h4>
        </div>
        <div class="modal-body">
            <form id="up_form" method="post" enctype="multipart/form-data">
                <input name="action" id="action" type="hidden" value="UPLOAD">
                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                        <td align="center">
                        	<a class="button action red">
                            	<span style="border:5px;" class="label btn-file">
                                	<button type="button" class="btn btn-danger" style="font-size: 12px;">Seleccionar archivos...</button>
                   					<input id="archivo" type="file" style="font-size: 0px;" multiple>
                                </span>
                            </a>
                    		<!--
                            <div style="padding-top:20px; padding-left:10px;">
                                <a class="button action red"><span style="border:5px;" class="label btn-file">Seleccionar archivos...<input id="archivo" type="file"  multiple></span></a>
                            </div>-->
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><div style="display:none;" id="img_status_upload"><img src="site_media/img/loading_medium.gif" alt="" width="50" height="50" border="0"></div></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"  onClick="cierraModal('up_dialog')">Cerrar</button>
        </div>
    </div>
    <div id="propiedades">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  onClick="cierraModal('propiedades')">×</button>
            <h4 class="modal-title">Propiedades</h4>
        </div>
        <div class="modal-body">
            <form id="Pform">
            	<input name="Pcod" id="Pcod" type="hidden" value="">
            	<input name="Pnombre_original" id="Pnombre_original" type="hidden" value="">
                <div style="width:100%; height:30px;">
                	<div style="float:left; width:350px;">
                    	<input name="Pnombre" type="text" id="Pnombre" value="" size="40"  /></div>
                	<div style="float:left; width:20px;">
                    	<img src="site_media/img/blank.gif" alt="" width="16" height="16" border="0"  id="Ploading"></div>
                </div>
                <br>
                <legend>Grupos</legend>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <div>
                                <div style="height:25px; width:150px; float:left;">
                                    <select name="Pgrupos" id="Pgrupos">
                                        <option value="0" selected>Seleccione..</option>
                                        <!--COMBO_GRUPO-->
                                        <option value="{codigo}">{denominacion}</option>
                                        <!--COMBO_GRUPO-->
                                    </select>
                                </div>
                                <div style="height:25px; width:30px; float:left;">
                                    <a href='#'><img src="site_media/img/add.png" width="24" height="24" onClick="guardar_datos()"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><div id="Pcontenido" style="height:140px; border:1px solid #999; overflow-x:auto;"></div></td>
                    </tr>
                </table>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"  onClick="cierraModal('propiedades')">Cerrar</button>
        </div>
    </div>
    
    <div id="dialog-block" title="Utilice Google Chrome">
        <p>Debe utilizar el navegador Google Chrome o una version actualizada de Internet Explorer</p>
        <br>
        <br>
        <p><a href="http://www.google.com/chrome/browser/" target="_blank">Descargue Google Chrome</a></p>
        <br>
        <div><a href="http://www.google.com/chrome/browser/" target="_blank"><img name="" src="site_media/img/chrome_logo_2x.png" width="246" height="80" alt="" border="0"></a></div>
    </div>
    
    <div id="dialog_shlink">
    	<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  onClick="cierraModal('dialog_shlink')">×</button>
            <h4 class="modal-title">Compartir <span id="Ctitle"></span></h4>
        </div>
        <div class="modal-body">
            <form  id="form_shlink" name="form_shlink">
                <input type="hidden" id="shlink_dir" name="shlink_dir" class="smart-form">
                <table width="100%" border="0" cellspacing="15" cellpadding="0">
                    <tr>
                        <th width="44%" align="left" scope="row">Permisos</th>
                        <th width="56%" align="left" scope="row" style="padding:5px;"><input class="custom_r" type="radio" id="radio1" name="permisos" value="4" checked="checked" />
                            <label for="radio1">Lectura</label>
                            <input class="custom_r" type="radio" id="radio2" name="permisos" value="6" />
                        <label for="radio2">Modificar</label></th>
                    </tr>
                    <tr  class="cabecera_simple_b">
                        <th align="left" valign="middle">Tiempo de expiracion</th>
                        <th align="left" valign="middle"  style="padding:5px;">
                        	<input name="expira" type="text" id="expira" value="1" size="3" maxlength="3" />
                        	Dias ( &quot;0&quot; para indefinido )
                        </th>
                    </tr>                
                    <tr>
                        <th height="19" align="left" scope="row">Solicitar usuario clave</th>
                        <th height="19" align="left" scope="row"  style="padding:5px;"><input class="custom_r" type="radio" id="radio3" name="login" value="1" checked="checked" />
                            <label for="radio3">Si</label>
                            <input class="custom_r" type="radio" id="radio4" name="login"value="0" />
                        <label for="radio4">No</label></th>
                    </tr>                
                    <tr>
                        <th height="19" colspan="2" scope="row" style="text-align:center; padding-top:20px;">
                        	<a class="btn btn-primary btn-sm" href="javascript:void(0);" onClick="generar_link()">Generar Link</a>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2"><hr /></th>
                    </tr> 
                    <tr>
                        <th colspan="2">Link:</th>
                    </tr> 
                    <tr>
                        <th colspan="2" align="center"><input name="gen_link" type="text" id="gen_link" size="60" readonly value="" /></th>
                    </tr>        	
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"  onClick="cierraModal('dialog_shlink')">Cerrar</button>
        </div>
    </div>
</div>