<input name="mruta" id="mruta" value="{ruta}" type="hidden">
<input name="permisos" id="permisos" value="{permisos}" type="hidden">
<table cellpadding="0" cellspacing="0" width="100%"  class="tabla1" id="test0001">
    <tbody>
        <tr>
            <td width="60%" align="left" colspan="2"><div class="ca texto6">Nombre</div></td>
            <td width="10%" align="left"><div class="ca texto6">Fecha</div></td>
            <td width="20%" align="left"><div class="ca texto6">Tipo</div></td>
            <td width="10%" align="left"><div class="ca texto6">Tama&ntilde;o</div></td>
        </tr>
        <tr  onMouseOver="cambionombre('NULO');">
            <td height="15" colspan="2"></td>
            <td height="15"></td>
            <td height="15"></td>
            <td height="15"></td>
        </tr> 
        <!--LISTADO-->        
        <tr id={id} class="cn" onMouseOver="cambionombre('A_{fdata}')">
            <div class="wrapper">
                <div class="section">
                    <td align="left" width="3%"><div style="padding-left:10px;"><img src="site_media/img/ext/{edata}.png" width="20" height="20"/></div></td>
                    <td align="left" width="37%"><div class="texto5" style="cursor: pointer; cursor: hand;" onClick="Lightbox_parent2('{fdata}','{gdata}')" title="Fecha de modificacion: '{cdata}'  Tama&ntilde;o: {bdata}">{adata}</div></td>
                    <td align="left"><div class="texto5">{cdata}</div></td>
                    <td align="left"><div class="texto5">{ddata}</div></td>
                    <td align="left"><div class="texto5">{bdata}</div></td>
                </div>
            </div>
        </tr>
        <!--LISTADO-->
        <tr  onMouseOver="cambionombre('NULO');">
            <td height="15" colspan="2"></td>
            <td height="15"></td>
            <td height="15"></td>
            <td height="15"></td>
        </tr>
    </tbody>
</table>