<ul id="FT{PARENT}" class="jqueryFileTree" style="display: none;">
<!--LISTADO-->
	<li id="CP{P_KEY}" class="directory collapsed">
			<a href="#" onMouseOver="cambionombre('C_{P_KEY}')" onclick="openFile('{P_KEY}','{NOMBRE64}')" rel="{P_KEY}">{NOMBRE}</a>
    </li>
<!--LISTADO-->
</ul>
<div class="sidebar" onMouseOver="cambionombre('C_0')" onclick="openFile('0','QmlibGlvdGVjYQ==')"></div>