<div class="row">
       <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
             <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Inicio <span> Bienvenido/Portal BV/</span></h1> 
       </div>
</div>
<div class="row">
       <div class="col-sm-12">
             <div class="well">
                    <div class="col-sm-10">
                    <h1><span class="semi-bold slideInRight fast animated"> S.A. </span><br>
                           <small class="text-danger slideInRight slow animated"><strong>Sistema de Gestion Integrado</strong></small></h1>
                    <p align="justify">
                    	El <strong>Sistema de Gestión Integrado (SGI)</strong>, fue desarrollado con el objetivo de gestionar los proyectos dentro de la compañía. 
                        Con esto se podrá realizar seguimiento a información relevante de cada uno de los contratos que utilice este sistema, 
                        permitiendo dar respuesta a los requerimientos de nuestros clientes con información de calidad y en tiempo real.
                    </p>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="site_media/img/base-logo.png" height="150px" style="text-align:right">
             </div>
       </div>
</div>
<!--<div class="row ">
       <div class="col-sm-12"> 
             <div class="well">
                           <h1><small class="text-danger bounce animated "><strong>Nuestra Misión</strong></small></h1>
                    
                           <p>Dar a nuestros clientes valor económico a través de la gestión de la Calidad, la Salud, la Seguridad, el Medio Ambiente y la Responsabilidad Social de sus activos, proyectos, productos y sistemas, obteniendo como resultado la capacidad para lograr la reducción de riesgos y la mejora de los resultados.
                           <h1><small class="text-danger  "><strong>Nuestra visión</strong></small></h1>
                           <p>Ser líderes en nuestro sector y un actor principal en todos los segmentos de mercado en los que estamos presentes, y en los mercados clave.</p>
             </div>
       </div>
</div>
--><script type="text/javascript">
       /* DO NOT REMOVE : GLOBAL FUNCTIONS!
       *
       * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
       *
       * // activate tooltips
       * $("[rel=tooltip]").tooltip();
       *
       * // activate popovers
       * $("[rel=popover]").popover();
       *
       * // activate popovers with hover states
       * $("[rel=popover-hover]").popover({ trigger: "hover" });
       *
       * // activate inline charts
       * runAllCharts();
       *
       * // setup widgets
       * setup_widgets_desktop();
       *
       * // run form elements
       * runAllForms();
       *
       ********************************
       *
       * pageSetUp() is needed whenever you load a page.
       * It initializes and checks for all basic elements of the page
       * and makes rendering easier.
       *
       */

      // pageSetUp();
       
       /*
       * PAGE RELATED SCRIPTS
       */

       // pagefunction
       
       
       
       
</script>
