<input type="hidden" name="numfilas" id="numfilas" value="{filas}">
<table width="100%" class="tabel table-hover">
	<thead>
        <tr>
            <th width="19%">Folio</th>
            <th width="76%">Usuario</th>
            <th width="5%"></th>
        </tr> 
    </thead>
    <tbody>	
    	<!--LISTADO-->
        <tr>
            <td>{COD}</td>
            <td>{NOMBRE}</td>
            <td><a href="#" onClick="Permisos(500,450,'{COD}','{NOMBRE}')" title="Permisos"><div class="sprite edit"></div></a></td>
        </tr> 
    	<!--LISTADO--> 
    </tbody>                                                    
</table>