<table width="100%" class="tabel table-hover">
	<tbody>	
    	<!--LISTADO-->
        <tr>
            <td width="80%">{NOMBRE}</td>
            <td width="10%"><a href="#" onClick="editGrupo('{P_KEY}','{NOMBRE}')" title="Modificar"><div class="sprite edit"></div></a></td>
            <td width="10%"><a href="#" onClick="rmGrupo('{P_KEY}')" title="Modificar"><div class="sprite del"></div></a></td>
        </tr> 
    	<!--LISTADO--> 
    </tbody>                                                    
</table>