<table width="100%" class="tabel table-hover">
	<tbody>	
    	<!--LISTADO-->
        <tr>
            <td width="50%">{NOMBRE}</td>
            <td width="40%">{DEN_PERMISO}</td>
            <td width="10%"><a href="#" onClick="rmPermiso('{P_KEY}')" title="Modificar"><div class="sprite del"></div></a></td>
        </tr> 
    	<!--LISTADO--> 
    </tbody>                                                    
</table>