<script>    
	function modulo(){	return '{modulo}';	}
	$(document).keydown(function (e){
		if(e.keyCode == 13){
			vBuscar();
		}
	})
			
	$(document).ready(function () {           			
		vBuscar();
		$("#Gbtn_cancelar").hide(1);
		$("#Nf_inicio_contrato").datepicker({dateFormat: 'dd/mm/yy'});
		
		$("#Gbtn_guardar").click(function(){
			nombre = $("#Gnombre").val()			
			if(nombre){
				$.post( setURL('_setgrupo'), $( "#Gformulario" ).serialize())
				.done(cbResponse)
			}
		});
		
		$("#Pbtn_guardar").click(function(){
			if(ValidaFormulario("Pformulario")){
				$.post( setURL('_setpermiso'), $( "#Pformulario" ).serialize())
				.done(cbResponse)
			}
		});
		
		$("#Gbtn_cancelar").click(function(){
			$('#Gcod').val('')
			$('#Gnombre').val('')
			$(this).hide(1);
		});
	});	

	function Permisos(w,h,cod,nombre) {
		setDialog("#permisos_usuario", {},w,h);
		$("#permisos_usuario").dialog("open");
		
		$('#Pcod').val(cod)
		$('#Pnombre').text(nombre)
		sendViaGet(setURL('_selectgrupos&target=Pid_grupo'),cbInfo);
		sendViaGet(setURL('_gridpermisos&target=Pcontenido&cod='+cod),cbInfo);
	}
	function Grupos(w,h) {
		setDialog("#grupos", {},w,h);
		$("#grupos").dialog("open");
		$('#Gcod').val('')
		$('#Gnombre').val('')
		$("#Gbtn_cancelar").hide(1);
		sendViaGet(setURL('_gridgrupos&target=Gcontenido'),cbInfo);
	}
	function rmGrupo(cod){
		sendViaGet(setURL('_rmgrupo&cod='+cod),cbResponse);
	}
	function rmPermiso(cod){
		sendViaGet(setURL('_rmpermiso&cod='+cod),cbResponse);
	}
	
	function editGrupo(cod,nombre){
		$('#Gcod').val(cod)
		$('#Gnombre').val(nombre)
		$("#Gbtn_cancelar").show(1);
	}
	
	function cbResponse(data){
		console.log(data);
		var json = IsJsonString(data);
		if(json){
			if(json['case']){
				switch(json['case']){
					case "rmgrupo":
						if( json['success']=="1" ){
							showAlert("success","Eliminado correctamente.");
							sendViaGet(setURL('_gridgrupos&target=Gcontenido'),cbInfo);							
						}else
							showAlert("danger","No se pudo eliminar.");								
						break;
					case "setgrupo":
						if( json['success']=="1" ){
							showAlert('success','Registro Guardado correctamente.');
							document.getElementById("Gformulario").reset()
							$("#Gcod").val("")
							console.log(setURL('_gridgrupos&target=Gcontenido'))
							sendViaGet(setURL('_gridgrupos&target=Gcontenido'),cbInfo);
						}else
							showAlert('danger','No se pudo guardar el registro.');							
						break;
					case "setpermiso":						
						if( json['success']=="1" ){
							showAlert('success','Registro Guardado correctamente.');
							document.getElementById("Pformulario").reset()
							sendViaGet(setURL('_gridpermisos&target=Pcontenido&cod=' + $("#Pcod").val() ),cbInfo);
						}else
							showAlert('danger','No se pudo guardar el registro.');							
						break;
					case "rmpermiso":						
						if( json['success']=="1" ){
							showAlert("success","Eliminado correctamente.");
							sendViaGet(setURL('_gridpermisos&target=Pcontenido&cod=' + $("#Pcod").val() ),cbInfo);						
						}else
							showAlert("danger","No se pudo eliminar.");								
						break;	
				}
			}
		}else
			showAlert("danger","Error.");
	}
</script>
<style> 
	.ui-widget button {
		font: bold 11px Helvetica, Arial, sans-serif;
	}
	.ui-widget-content {
		border: 1px solid #aaaaaa
	}		
</style>

<div class="modulo">
    <div class="widget">
        <div class="title"><img src="site_media/img/icons/frames.png" alt="" class="titleIcon"><h6>{titulo}</h6></div>
        <form id="form_busqueda" name="form_busqueda">
        <fieldset>
        <!-----------------------MODULO------------------------------>
        <table width="100%" border="0" cellpadding="0" cellspacing="5"  class="texto3 table_form">
            <tr>
                <td width="17%" align="left">Folio</td>
                <td width="29%" align="left"><input name="folio" id="folio"type="text" size="10" maxlength="6" /></td>
                <td width="16%">Nombre</td>
                <td width="38%"><input name="nombres" id="nombres"type="text" size="20" maxlength="90" /></td>
            </tr>            	
        </table>
        <hr width="98%" />
        <!-----------------------------------------BOTONES DE ACCIONES---------------------------------------------->
        <div class="mod_opciones">
        	<div class="mod_left"><a href="javascript:void(0);" class="btn btn-labeled btn-success" onclick="Grupos(500,430)"> <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Grupos </a></div>
        	<div class="mod_right"><a href="javascript:void(0);" class="btn btn-default" onClick="LimpiarForm()">Limpiar</a></div>
            <div class="mod_right"><a href="javascript:void(0);" class="btn btn-primary" onClick="vBuscar()">Buscar</a></div>            
        </div>
        <!----------------------------------------INFORMACION DEL RESULTADO----------------------------------------->
        <div class="mod_opciones_fin">
            <div class="mod_left">N&deg; de coincidencias encontradas<input id="filas" type="text" class="cajaPequena" name="filas" maxlength="5" readonly /></div>
            <div class="mod_right">Resultados por Pagina
                    <select name="cantidad_filas" id="cantidad_filas" onChange="vBuscar()">
                        <option value="10" selected="selected">10</option>
                        <option value="20" >20</option>
                        <option value="30" >30</option>
                        <option value="40" >40</option>
                        <option value="50" >50</option>
                    </select></div>
            <div class="mod_right">Mostrados<select name="paginas" id="paginas" onChange="vBuscar()"></select></div>
        </div>
        </fieldset>
        <input type="hidden" name="permisos" id="permisos" value="{permisos}">
        <input type="hidden" id="iniciopagina" name="iniciopagina">
        <input type="hidden" id="cadena_busqueda" name="cadena_busqueda">
        </form>
    </div>
    <div class="widget">
        <div class="title"><img src="site_media/img/icons/list.png" alt="" class="titleIcon"><h6>Resultado</h6></div>
        <div class="mod_resultado">
            <div id="form_grid">
            
            </div>
        </div>
    </div>
</div>


<div style="display:none;">
    <iframe id="download" width="1" height="1"></iframe>
    <div id="grupos" title="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  onClick="cierraModal('grupos')">×</button>
            <h4 class="modal-title">GRUPOS</h4>
        </div>
        <div class="modal-body">
       		<form id="Gformulario" name="Gformulario">
            <input type="hidden" id="Gcod" name="Gcod">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="50%"><input name="Gnombre" id="Gnombre" type="text"></td>
                    <td width="50%"><a href="javascript:void(0);" class="btn btn-default btn-circle" id="Gbtn_guardar"><i class="glyphicon glyphicon-ok"></i></a>
                    				<a href="javascript:void(0);" class="btn btn-default btn-circle" id="Gbtn_cancelar"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
                </tr>
                <tr>
                    <td colspan="2"><br /></td>
                </tr>
                <tr>
                    <td colspan="2">
                    	<div id="Gcontenido"  style="width:100%; overflow:hidden; overflow-y:auto; height:180px; ">
						</div>
                    </td>
                </tr>
            </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"  onClick="cierraModal('grupos')">Cerrar</button>
        </div>
    </div> 
    <div id="permisos_usuario" title="">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  onClick="cierraModal('permisos_usuario')">×</button>
            <h4 class="modal-title">PERMISOS</h4>
        </div>
        <div class="modal-body">
       		<form id="Pformulario" name="Pformulario">
            <input type="hidden" id="Pcod" name="Pcod">
            <input type="hidden" id="exclude" name="exclude" value="">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="3">Usuario:<label id="Pnombre"></label></td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td width="26%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="38%"><select name="Pid_grupo" id="Pid_grupo" tag="Grupo">
                    </select></td>
                    <td width="36%"><select name="Ppermiso" id="Ppermisos" tag="Permiso">
                    	<option value="0">Seleccione</option>
                    	<!--COMBO_PERMISOS-->
                        <option value="{CODIGO}">{DENOMINACION}</option>
                        <!--COMBO_PERMISOS-->
                    </select></td>
                    <td><a href="javascript:void(0);" class="btn btn-default btn-circle" id="Pbtn_guardar"><i class="glyphicon glyphicon-ok"></i></a></td>
                </tr>
                <tr>
                    <td colspan="3">
                    	<div id="Pcontenido"  style="width:100%; overflow:hidden; overflow-y:auto; height:180px; ">
						</div>
                    </td>
                </tr>
            </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"  onClick="cierraModal('permisos_usuario')">Cerrar</button>
        </div>
    </div>                     
</div>