/*****************************************/
/* clases relativas a contenedores       */

table {
	background:#DCD9D4;
        }

#pagina {
	position:absolute;
	background-color:#fff;
	font-family: helvetica;
	font-size:8pt;
	left:13%;
	width:90%;
}
#pagina2 {
	position:absolute;
	background-color:#fff;
	font-family: helvetica;
	font-size:8pt;
	left:0%;
	width:90%;
}
#zonaLogo {
	position:absolute;
	top:0em;
	left:0em;
	width:20%;
	height:150px;
	background-color:#fff;
	text-align:center;
	vertical-align:middle;
}
#zonaMenu {
	position:absolute;
	top:150px;
	left:0em;
	width:80%;
	height:100%;
	background-color:#fff;	
}
#zonaContenido {
	position:relative
	top:0em;
	left:0%;
	width:1000;
	height:100%;
}

#zonaContenido2 {
	position:relative;
	top:0em;
	left:0%;
	width:950;
	height:100%;
}
#localizacion {
	position:relative;
	top:3%;
	left:1%;
	width:100%;
}
#tituloForm {
	position:relative;
	top:4%;
	left:0%;
	width:1000px;
}
#tituloForm2 {
	position:relative;
	top:4%;
	left:1%;
	width:100%;
}
#frmBusqueda {
	position:relative;
	top:5%;
	left:0%;
	width:1000px;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}
#frmBusqueda2 {
	position:relative;
	top:5%;
	left:1%;
	width:100%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#cuadroTotales {
	position:relative;
	top:5%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#frmBusqueda li {
	list-style-image:url(../img/error2.png);
	color:#000;
	text-transform:uppercase;
	text-align:left;
	height:20px;
	vertical-align:middle;
}

#botonBusqueda {
	position:relative;
	top:5%;
	/*left:0%;*/
	right:0px;
	width:1000;
	text-align:right;
	margin-top:.5em;
	padding-top:1em;
/*	border-top:solid 1px #696969;	*/
}
#lineaResultado {
	position:relative;
	top:1%;
	left:0;
	width:1000;
	height:8px;
}
  #lineaResultado2 {
	vertical-align:top;
	
}
#cabeceraResultado {
	position:relative;
	top:11%;
	left:1%;
	width:80%;	
}
#cabeceraResultado2 {
	position:relative;
	top:0%;
	left:0%;
	width:1000px;	
}
.totalResultado  {
	background-color:#ff8c00;
	color:#fff;
}
#frmResultado {
	position:relative;
	top:11%;
	left:0%;
	width:1000px;
/*
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
*/
}
/*****************************************/
/* clases relativas a tablas             */
.headasi {
	background-color:#0066FF;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
}
.texto1 {
	background-color:#ffffff;
	color:333300;
	text-align:center;
	font-weight:bold;
	height:9px;
	vertical-align:middle;
}

.texto2 {
	background-color:#ffffff;
	color:CC6600;
	text-align:center;
	font-weight:bold;
	height:9px;
	vertical-align:middle;
}


.texto3 {
	font:10pt arial;
	/*background-color:#ffffff;*/
	color:000000;
	text-align:left;
	font-weight:bold;	
	vertical-align:middle;
}
.texto4 {
	font:10pt arial;
	font-weight:bold;
	color:000000;
	/*text-align:left;	
	vertical-align:middle;*/
}

.texto5 {
	font:10pt arial;
	color:000000;
	/*text-align:left;	
	/*vertical-align:middle;*/
}

.header {
	height: 45px;
	line-height: 44px;
	color: #000000;
	width: 1004;
	margin: 0;
	padding: 0;
	background: #ffffff url(captop.jpg) repeat-x;
	background-position: 50% top;
	font-family: Arial;
	font-size:14px;
	

}
.header2 {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 1000px;
	margin: 0;
	padding: 0;
	margin-left: -2px;
	background: #ffffff url(captop.jpg) repeat-x;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
.mensaje {
	background-color: #666666;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
}
.mensajeminimo {
	background-color: #FF0000;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
}
.cabeceraTabla {
	background-color:#5f5f5f;
	color:#fff;	
	font-weight:bold;
	font-family: Arial;
	font-size:13px;
	text-align:center;
	text-transform:capitalize;
}


.cabeceraTabla2 {
	background-color:#009933;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.itemParTabla {
	background-color:#ccc;
}
.itemImparTabla {
	background-color:#f5f5f5;
}
/*****************************************/
/* clases relativas a hiperenlace        */

a:link {
	font:8pt verdana,arial;
	color:#000;
}
a:visited {
	font:8pt verdana,arial;
	color:#000;
}
a:hover {
	
	font:8pt verdana,arial;
	color:#ff8c00;
}
/*****************************************/
/* clases relativas a la fuente de texto */
.fuente8 {
	font:11pt Arial;		
}

.fuente7 {
	font:9pt helvetica;		
}
.fuente10 {
	font:10pt helvetica;		
}
.aDerecha {
	text-align:right;
}
.aCentro {
	text-align:center;
}
/*****************************************/
/* clases relativas a objetos            */
.boton {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:90px;
    height:15pt;
}

.botonprov {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:130px;
    height:15pt;
}

.cajaPequena {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:75px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
}

.cajaPequena2 {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:55px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
}

.cajaMinima {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:30px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
}

.cajaTotales {
	background-color:#FFD9B3;
	font:8pt helvetica;	
	color:#000;
	width:75px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
	text-align:right;
}

.cajaMedia {
	background-color:#fff;
	font:8pt helvetica;
	/*text-transform:uppercase;*/
	color:#000;
	width:150px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.cajaGrande {
	background-color:#fff;
	font:8pt helvetica;
	/*text-transform:uppercase;*/
	color:#000;
	width:250px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboPequeno {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:75px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboMedio {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:150px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboGrande {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:250px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
