/*****************************************/
/* clases relativas a contenedores       */
#pagina {
	position:absolute;
	background-color:#fff;
	font-family: helvetica;
	font-size:8pt;
	left:13%;
	width:90%;
}
#pagina2 {
	position:absolute;
	background-color:#fff;
	font-family: helvetica;
	font-size:8pt;
	left:0%;
	width:100%;
}
#zonaLogo {
	position:absolute;
	top:0em;
	left:0em;
	width:20%;
	height:150px;
	background-color:#fff;
	text-align:center;
	vertical-align:middle;
}
#zonaMenu {
	position:absolute;
	top:150px;
	left:0em;
	width:80%;
	height:100%;
	background-color:#fff;	
}
#zonaContenido {
	position:relative
	top:0em;
	left:0%;
	width:1000;
	height:100%;
}

#zonaContenido2 {
	position:relative;
	top:0em;
	left:0%;
	width:950;
	height:100%;
}
#localizacion {
	position:relative;
	top:3%;
	left:1%;
	width:100%;
}
#tituloForm {
	position:relative;
	top:4%;
	left:0%;
	width:1000px;
}
#tituloForm2 {
	position:relative;
	top:4%;
	left:0%;
	width:100%;
}
#frmBusqueda {
	position:relative;
	top:5%;
	left:0%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}
#frmBusqueda2 {
	position:relative;
	top:5%;
	left:1%;
	width:100%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#cuadroTotales {
	position:relative;
	top:5%;
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
}

#frmBusqueda li {
	list-style-image:url(../img/error2.png);
	color:#000;
	text-transform:uppercase;
	text-align:left;
	height:20px;
	vertical-align:middle;
}

#botonBusqueda {
	position:relative;
	top:5%;
	/*left:0%;*/
	right:0px;
	width:1000;
	text-align:right;
	margin-top:.5em;
	padding-top:1em;
/*	border-top:solid 1px #696969;	*/
}
#lineaResultado {
	position:relative;
	top:1%;
	left:0;
	width:1000;
	height:8px;
}
#lineaLoad {
	position:relative;
	top:1%;
	left:0;
	width:100%;
	height:8px;
}
  #lineaResultado2 {
	vertical-align:top;
	
}
#cabeceraResultado {
	position:relative;
	top:11%;
	left:1%;
	width:80%;	
}
#cabeceraResultado2 {
	/*position:relative;
	top:0%;
	left:0%;
	width:1000px;*/	
}
.totalResultado  {
	background-color:#ff8c00;
	color:#fff;
}
#frmResultado {
	position:relative;
	top:11%;
	left:0%;
	width:1000px;
/*
	background-color:#f5f5f5;
	border-top:solid 1px #dcdcdc;
	border-left:solid 1px #dcdcdc;
	border-right:solid 1px #696969;
	border-bottom:solid 1px #696969;
*/
}
/*****************************************/
/* clases relativas a tablas             */

.tabla_a{
	background-color: #e6e7e8;	
	border-bottom-width:1px;	
	border-top-width:1px; 	
	border-left-width:1px;
	border-right-width:1px;
	
	border-right-style:solid;
	border-left-style:solid;
	border-top-style:solid;
	border-bottom-style:solid;
		
	border-top-color:#dcdcdc;	 
	border-left-color:#dcdcdc; 
	border-right-color:#696969;
	border-bottom-color:#696969;	
}
.tabla_b{
	background-color:#e6e7e8;
}


.headasi {
	font-family: Arial;
	background-color:#0066FF;
	color:#fff;
	/*text-transform:uppercase;*/
	text-align:center;
	font-weight:bold;
	height:18px;
	vertical-align:middle;
}
.texto2 {
	background-color:#ffffff;
	color:CC6600;
	text-align:center;
	font-weight:bold;
	height:9px;
	vertical-align:middle;
}


.texto3 {
	font:10pt arial;
	/*background-color:#ffffff;*/
	color:000000;
	text-align:left;
	font-weight:bold;	
	vertical-align:middle;
}
.texto4 {
	font:10pt arial;
	font-weight:bold;
	color:000000;
	text-align:left;	
	vertical-align:top;
}

.texto5 {
	font:10pt arial;
	color:000000;
	text-align:left;	
	vertical-align:middle;
}

.texto6 {
	font:10pt arial;
	color:#666666;
	text-align:left;	
	vertical-align:middle;
}

.texto7 {
	font:11pt arial;
	color:#333;
	font-weight:bold;
}
.texto8 {
	font:12pt arial;
	color:#333;
	font-weight:bold;
}
.texto9 {
	font:13pt arial;
	color:#333;
	font-weight:bold;
}

.header {
	height: 25px;
	line-height: 7px;
	padding-left:20px;		
	background-color:#C6093B;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.header_nuevo {
	height: 25px;
	line-height: 7px;
	padding-left:20px;	
	background: #ffffff url(hdr_nuevo.png) no-repeat;
	background-color:#4E4E4D;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.header_modificar {
	height: 25px;
	line-height: 7px;
	padding-left:20px;	
	background: #ffffff url(hdr_modificar.png) no-repeat;
	background-color:#4E4E4D;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.header_visualizar {
	height: 25px;
	line-height: 7px;
	padding-left:20px;	
	background: #ffffff url(hdr_visualizar.png) no-repeat;
	background-color:#4E4E4D;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}



.header_800 {
		height: 45px;
		line-height: 44px;
		color: #000000;
		width: 804;
		margin: 0;
		padding: 0;
		background: #ffffff url(captop.jpg) repeat-x;
		background-position: 50% top;
		font-family: Arial;
		font-size:14px;
		font-weight:bold;
		text-align:center;
	}
.fondo_tabla{
	background-color: #666666;
	
}

.header2 {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: center;
	width: 1000px;
	margin: 0;
	padding: 0;
	margin-left: -2px;
	background: #ffffff url(captop.jpg) repeat-x;
	background-position: 50% top;
	border-left: 2px solid #616161;
	border-right: 2px solid #616161;
}
.mensaje {
	background-color: #666666;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
}
.mensajeminimo {
	background-color: #FF0000;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	height:20px;
	vertical-align:middle;
}
.cabeceraTabla {
	background-color:#5f5f5f;
	color:#fff;	
	font-weight:bold;
	font-family: Arial;
	font-size:13px;
	text-align:center;
	text-transform:capitalize;
}

.cabeceraTabla_r {
	background-color:#5f5f5f;
	color:#fff;	
	font-weight:bold;
	font-family: Arial;
	font-size:13px;
	text-align:right
	text-transform:capitalize;
}

.cabeceraTabla_l {
	background-color:#5f5f5f;
	color:#fff;	
	font-weight:bold;
	font-family: Arial;
	font-size:13px;
	text-align:left;
	text-transform:capitalize;
}

.cabeceraTabla_cel {
	background-color:#9BDCFF;
	color:#333333;	
	font-weight:bold;
	font-family: Arial;
	font-size:13px;
	text-transform:capitalize;
}

.cabeceraTabla2 {
	background-color:#009933;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
}
.itemParTabla {
	background-color:#ccc;
}
.itemImparTabla {
	background-color:#f5f5f5;
}
.itemParTabla_light {
	background-color:#E4E4E4;
}
.itemImparTabla_light {
	background-color:#FFFFFF;
}

.tabla_c{
	-moz-border-radius: 0 7px 0 0;    
	-webkit-border-radius: 0 7px 0 0;    
	border-radius: 7px 7px 0 0;
	
	border-color:#006BA6;
	border-bottom-style:solid;
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-width:1px; 
}
	
.sub_titulo{
	-moz-border-radius: 0 5px 0 0;    
	-webkit-border-radius: 0 5px 0 0;    
	border-radius: 5px 5px 0 0;	
	background-color:#0088ce;			
	font-weight:bold;
	font-family: Arial;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;	
	color:#fff;
	height:24px;
}
/*****************************************/
/* clases relativas a hiperenlace        */

a:link {
	font:10pt verdana,arial;
	color:#000;
}
a:visited {
	font:10pt verdana,arial;
	color:#000;
}
a:hover {
	
	font:10pt verdana,arial;
	color:#900;
}
/*****************************************/
/* clases relativas a la fuente de texto */
.fuente8 {
	font:8pt Arial;		
}

.fuente7 {
	font:7pt helvetica;		
}
.fuente9 {
	font:9pt helvetica;		
}
.fuente10 {
	font:10pt helvetica;		
}
.fuente11 {
	font:11pt helvetica;		
}

.aDerecha {
	text-align:right;
}
.aCentro {
	text-align:center;
}
/*****************************************/
/* clases relativas a objetos            */
.boton {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:90px;
    height:15pt;
}

.botonprov {
	color:#000;
	background-color:#dcdcdc;
	border-style:solid;
	border-color:#696969;
	border-width:1px 1px 1px 1px;
    font:bold 8pt helvetica;
    text-transform:lowercase;
    width:130px;
    height:15pt;
}

.cajaPequena {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:75px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
}

.cajaPequena2 {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:55px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
}

.cajaMinima {
	background-color:#fff;
	font:8pt helvetica;	
	color:#000;
	width:30px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
}

.cajaTotales {
	background-color:#FFD9B3;
	font:8pt helvetica;	
	color:#000;
	width:75px;
	border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
	text-align:right;
}

.cajaMedia {
	background-color:#fff;
	font:8pt helvetica;
	/*text-transform:uppercase;*/
	color:#000;
	width:150px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.cajaGrande {
	background-color:#fff;
	font:8pt helvetica;
	/*text-transform:uppercase;*/
	color:#000;
	width:250px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboPequeno {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:75px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboMedio {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:150px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
.comboGrande {
	background-color:#fff;
	font:8pt helvetica;
	color:#000;
	width:250px;
	border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;
}
