
/******* /CONTENT *******/

/******* MENU *******/
#menu{
	display: none;
	width: 200px;
	padding: 0px;
	background: #171717;
	border: 0px solid #3e3e3e;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	position: absolute;
}
#menu ul{
	margin: 0px;
	padding: 0px;
	list-style:none;
	position:inherit;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #6d6d6d;
	background: #F3F3F3;   /*FONDO MENU*/
	border: 1px solid #cccccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#menu ul li{
	line-height: 1.5em;
	/*		 Sup-Der -Abajo-Izq	*/
	padding: 5px 40px 5px 5px;
	font-size: 11px;
	border-bottom: 1px solid #fff;
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;*/
}
#menu ul li:hover{
	background-color: #D5D5FF;
	border-bottom: 1px solid #CCCCCC;
	color: #000;
	cursor: pointer;
}
#menu ul li a{
	color: #6d6d6d;
	display: block;
}
#menu ul li.disabled, #menu ul li.disabled a{
	color: #bbbbbb;
	cursor: default;
}
#menu ul li.disabled:hover{
	background: #fff;
	border-bottom: 1px solid #fff;
}


/******* /MENU *******/


#Bmenu{
	display: none;
	width: 200px;
	padding: 0px;
	background: #171717;
	border: 0px solid #3e3e3e;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	position: absolute;
}
#Bmenu ul{
	margin: 0px;
	padding: 0px;
	list-style:none;
	position:inherit;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #6d6d6d;
	background: #F3F3F3;   /*FONDO Bmenu*/
	border: 1px solid #cccccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#Bmenu ul li{
	line-height: 1.5em;
	/*		 Sup-Der -Abajo-Izq	*/
	padding: 5px 40px 5px 5px;
	font-size: 11px;
	border-bottom: 1px solid #fff;
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;*/
}
#Bmenu ul li:hover{
	background-color: #D5D5FF;
	border-bottom: 1px solid #CCCCCC;
	color: #000;
	cursor: pointer;
}
#Bmenu ul li a{
	color: #6d6d6d;
	display: block;
}
#Bmenu ul li.disabled, #Bmenu ul li.disabled a{
	color: #bbbbbb;
	cursor: default;
}
#Bmenu ul li.disabled:hover{
	background: #fff;
	border-bottom: 1px solid #fff;
}