/* #Basic Styles
================================================== */
.mess{
	padding-left:20px;
	padding-right:20px;
	height:60px;
}
.alert .close {
    height: 20px !important;
	margin: 0px;
}

.btn {
  font-size: 13px;
}
/* Wrappers *
body { min-height: 100%; font-size: 12px; color: #595959; font-family: Arial, Helvetica, sans-serif; line-height: 20px; position: relative; }

/* Text */

h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; margin:0px; }
h7 { font-size: 12px; }

/* Content widgets
================================================== */

.widget { background: #f9f9f9; width:1000px; border: 1px solid #cdcdcd; margin-top: 32px; clear: both; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.widget .title { border-bottom: 1px solid #cdcdcd; 
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#efefef',GradientType=0 );
}
.widget .title .titleIcon { float: left; padding: 11px 11px; border-right: 1px solid #D5D5D5; }
.widget .title:after { content: ""; display: block; clear: both; }


.widget .loader { float: right; margin: 12px 12px 0 0; }
.widget .title h6 { float: left; font-size: 12px; font-weight: bold; padding: 9px 12px 8px 12px; }
.widget .content { padding: 14px; } 
.widget .body { padding: 12px 16px; }
.widget > p { padding: 12px; }

		/* Tables
================================================== */

/* ===== Static table ===== */

.sTable thead td { text-align: center; }
.sTable thead td { border-bottom: 1px solid #cbcbcb; border-left: 1px solid #cbcbcb; color: #878787; font-size: 11px; color: #878787; font-weight: normal; padding: 3px 8px 2px 8px; 
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
}

table thead td.sortCol > div { cursor: pointer; position: relative; }
table thead td span { background: url(../images/icons/sort.png) no-repeat 0; display: block; position: absolute; right: 3px; top: 2px; width: 16px; height: 16px; }
table thead td.headerSortUp span { background: url(../images/icons/sortUp.png) no-repeat 0; }
table thead td.headerSortDown span { background: url(../images/icons/sortDown.png) no-repeat 0; }

.sTable thead td a { color: #878787; }
.sTable thead td:first-child { border-left: none; }
.mTable tfoot tr { height: 50px; border-top: 1px solid #ddd; 
background: #fafafa;
background: -moz-linear-gradient(top,  #fafafa 0%, #efefef 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -o-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: -ms-linear-gradient(top,  #fafafa 0%,#efefef 100%);
background: linear-gradient(to bottom,  #fafafa 0%,#efefef 100%);
}

.fileInfo { font-size: 11px; text-align: center; }
.fileInfo span { display: block; }

.itemActions { float: left; margin: 12px; }
.itemActions label { float: left; margin: 4px 12px 0 4px; font-size: 11px; }
.itemActions .selector, .itemActions .selector span { width: 120px; }
.itemActions .selector select { width: 130px; }


.sTable .checker { margin: 0 auto; float: none; }

.sTable tbody tr { border-top: 1px solid #e4e4e4; }
.sTable tbody tr:nth-child(even) { background-color: #f6f6f6; }

.sTable tbody td { border-left: 1px solid #e4e4e4; padding: 8px 12px; vertical-align: middle; }
.sTable tbody td:first-child { border-left: none; }
.sTable tbody tr:first-child { border-top: none; }

.withCheck tbody tr td:first-child, .withCheck tbody tr th:first-child { padding: 11px; }
.withCheck thead tr td:first-child { vertical-align: middle; width: 37px!important; padding: 2px 0 0 0; }

/******************************** TABLA RESULTADOS *****************************************/
.table-hover>tbody :hover{
	background-color:#d6dde7;
	border-color:#d6dde7;
	
}
.table-hover { 
    border-spacing: 0px;
    border-collapse: separate;
	text-align:left;
	width:100%;
	table-layout: fixed;
}
.table-hover>tbody>tr>td, 
.table-hover>tbody>tr>th, 
.table-hover>tfoot>tr>td, 
.table-hover>tfoot>tr>th, 
.table-hover>thead>tr>td, 
.table-hover>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-hover>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}





body{  background:#eff3f6;}
/**********************ESTILOS BOTON SUBIR ARCHIVO************************/
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
/* JQURY UI DIALOG */
/*
.ui-widget-content a {
  color: #fff;
}*/
.ui-dialog {
	font-size: 13px;
	  z-index: 1000; 
}
.ui-tabs .ui-helper-reset {
	font-size:14px;
}
.ui-dialog .ui-state-error {
	padding: .3em;
}
.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
	width:100%;
}.ui-dialog .ui-dialog-content {
	padding: 0;
}
.ui-widget-overlay{
	background:none;	
}
label{
	font:10pt arial;
	color:000000;	
}
.ui-dialog .ui-dialog-buttonpane{ 
	padding:0 0 0 0;
}

/******************** SPRITES IMGS *******************/
.sprite{
	left: 0px;
    width: 16px;
	height:16px;
}
.sprite24{
	left: 0px;
    width: 24px;
	height:24px;
}
.add {
    background: url('../img/sprite1.png') 0 0;
}
.edit {
    background: url('../img/sprite1.png') -162px 0;
}
.see {
    background: url('../img/sprite1.png') -61px 0;
}
.del {
	width: 13px;
    background: url('../img/sprite1.png') -32px 0;
}
.pdf {
    background: url('../img/sprite1.png') -225px 0;
}
.ok {
    background: url('../img/sprite1.png') -130px 0;
}
.error {
    background: url('../img/sprite1.png') -45px 0;
}
.clip {
    background: url('../img/sprite1.png') -146px 0;
}
.down {
    background: url('../img/sprite1.png') -99px 0;
}

.arrow {
    background: url('../img/sprite1.png') -25px -16px;
}
.back {
    background: url('../img/sprite1.png') -0px -16px;
}
.diradd {
    background: url('../img/sprite1.png') -48px -16px;
}
.updf {
    background: url('../img/sprite1.png') -72px -16px;
}
.money {
    background: url('../img/sprite1.png') -242px 0px;
}
.conv {
    background: url('../img/sprite1.png') -258px 0px;
}
.key {
    background: url('../img/sprite1.png') -178px 0px;
}
/********************* FORM INDEX ********************/

.tabla_b{
	background-color:#e6e7e8;
}

.tabla_a{
	background-color: #e6e7e8;	
	border-bottom-width:1px;	
	border-top-width:1px; 	
	border-left-width:1px;
	border-right-width:1px;
	
	border-right-style:solid;
	border-left-style:solid;
	border-top-style:solid;
	border-bottom-style:solid;
		
	border-top-color:#dcdcdc;	 
	border-left-color:#dcdcdc; 
	border-right-color:#696969;
	border-bottom-color:#696969;	
}

.tabla_c{	
	border-spacing: 5px;
}




.table_form{
	border-spacing: 5px;
    border-collapse: separate;
}


/********************** TEXTOS	**********************/
.Tw1{
	font:10pt arial;
	font-weight:bold;
	color:000000;
}
.Tw2{
	font:10pt arial;
	color:000000;
}
.Tw3{
	font:12pt arial;
	font-weight:bold;
	color:#666;
}
.Tw4{
	font:12pt arial;
	font-weight:bold;
	color:#0066FF;
}
.Tw5{
	font:14pt arial;
	font-weight:bold;
	color:#333;
}
.Tw6{
	font:12pt;
	font-weight:bold;
	color:#333;
}
.Tw7{
	font:11pt;
	font-weight:bold;
	color:#333;
}
.Tw8{
	font:10pt;
	color:#333;
}
.Ta1{
	text-align:left;	
	vertical-align:middle;	
}
.Ta2{
	text-align:center;	
	vertical-align:middle;	
}



.texto2 {
	background-color:#ffffff;
	color:CC6600;
	text-align:center;
	font-weight:bold;
	height:9px;
	vertical-align:middle;
}
.texto3 {
	font:10pt arial;
	/*background-color:#ffffff;*/
	color:#595959;
	text-align:left;
	font-weight:bold;	
	vertical-align:middle;
}
.texto4 {
	font:10pt arial;
	font-weight:bold;
	color:000000;
	text-align:left;	
	vertical-align:top;
}

.texto5 {
	font:10pt arial;
	color:000000;
	text-align:left;	
	vertical-align:middle;
}

.texto6 {
	font:10pt arial;
	color:#666666;
	text-align:left;	
	vertical-align:middle;
}

.texto7 {
	font:11pt arial;
	color:#333;
	font-weight:bold;
}
.texto8 {
	font:12pt arial;
	color:#333;
	font-weight:bold;
}
.texto9 {
	font:13pt arial;
	color:#333;
	font-weight:bold;
}

.fuente7 {
	font:7pt Arial;		
}
.fuente8 {
	font:8pt Arial;		
}
.fuente9 {
	font:9pt Arial;		
}
.fuente10 {
	font:10pt Arial;		
}
.fuente11 {
	font:11pt Arial;		
}

/************************* INPUTS ***********************/
.cajaPequena {
	background-color:#fff;
	/*font:8pt helvetica;*/	
	color:#000;
	width:75px;
	/*border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.cajaPequena2 {
	background-color:#fff;
	/*font:8pt helvetica;*/	
	color:#000;
	width:55px;
	/*border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.cajaMinima {
	background-color:#fff;
	/*font:8pt helvetica;*/
	color:#000;
	width:30px;
	/*border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.cajaTotales {
	background-color:#FFD9B3;
	/*font:8pt helvetica;*/	
	color:#000;
	width:75px;
	/*border-color:#696969;	
	border-style :solid;
	border-width :1px;
	height:15pt;
	text-align:right;*/
}
.cajaMedia {
	background-color:#fff;
	/*font:8pt helvetica;*/
	/*text-transform:uppercase;*/
	color:#000;
	width:150px;
	/*border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.cajaGrande {
	background-color:#fff;
	/*font:8pt helvetica;*/
	/*text-transform:uppercase;*/
	color:#000;
	width:250px;
	/*border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.comboPequeno {
	background-color:#fff;
	/*font:8pt helvetica;*/
	color:#000;
	width:75px;
	/*border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.comboMedio {
	background-color:#fff;
	/*font:8pt helvetica;*/
	color:#000;
	width:150px;
	/*border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.comboGrande {
	background-color:#fff;
	/*font:8pt helvetica;*/
	color:#000;
	width:250px;
	/*border-color:#696969;
	border-style :solid;
	border-width :1px;
	height:15pt;*/
}
.btnupd{
	border:0px;
	padding:0px;
	margin:0px;
	
}
/* GRID */

#pagina2 {
	position:absolute;
	background-color:#fff;
	font-family: helvetica;
	font-size:8pt;
	left:0%;
	width:90%;
}
#zonaContenido {
	position:relative
	top:0em;
	left:0%;
	width:1000;
	height:100%;
}
.cabeceraTabla {
	background-color:#5f5f5f;
	color:#fff;	
	font-weight:bold;
	font-family: Arial;
	font-size:13px;
	text-align:center;
	text-transform:capitalize;
}

/*********************** LISTADOS **********************/
.itemParTabla {
	background-color:#ccc;
}
.itemImparTabla {
	background-color:#f5f5f5;
}
.itemParTabla_light {
	background-color:#E4E4E4;
}
.itemImparTabla_light {
	background-color:#FFFFFF;
}

.bgTabla:hover {
	background-color:#FFFFFF;
}



/********************* MODULOS *************************/
hr{
	margin-top:5px;
	margin-bottom:5px;	
}
fieldset {
  display: block;
  padding: 25px 14px 5px;
  border: none;
  position: relative;
}
.modulo{
	width:1000px;
	margin:0 auto;
}
.mod_resultado{
	width:100%;
	margin:0 auto;
}
.mod_opciones{
	width:100%;
	height:40px;
}
.mod_opciones_fin{
	width:100%;
	height:30px;
	  padding: 5px;
}
.mod_left{
	float:left;
}
.mod_center{
	float:center;
}
.mod_right{
	float:right;
	padding-left:20px;
}
/*********************	HEADER *************************/
.header {
	height: 25px;
	line-height: 7px;
	padding-left:20px;		
	background-color:#C6093B;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.header_nuevo {
	height: 25px;
	line-height: 7px;
	padding-left:20px;	
	background: #ffffff url(hdr_nuevo.png) no-repeat;
	background-color:#4E4E4D;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.header_modificar {
	height: 25px;
	line-height: 7px;
	padding-left:20px;	
	background: #ffffff url(hdr_modificar.png) no-repeat;
	background-color:#4E4E4D;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.header_visualizar {
	height: 25px;
	line-height: 7px;
	padding-left:20px;	
	background: #ffffff url(hdr_visualizar.png) no-repeat;
	background-color:#4E4E4D;
	color: #FFF;
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}

/*GRID IMAGENEWS*/
/*
.row {
	background-color:#f5f5f5;
	font:10pt arial;
	color:000000;
}
.row:hover div div {
	background-color:#ccc;
}*/

.li_hover:hover div {
	background: #D7F5FF;
}
.div_content {
	/*background-color: #FFFFFF;*/
}
.xt{
	overflow:hidden;
	height:16px;
	width:95%;
	text-align:left;
}
#content2 {
	width: 450px;
	margin: 1px auto;
	height: 300px;
	border: 2px solid #F3F3F3;
	padding-top: 1px;
	overflow-y: auto
}

#upload2 {
	padding: 8px;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	background: #f2f2f2;
	color: #3366cc;
	border: 1px solid #ccc;
	width: 120px;
	display: block;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin: 0 auto;
	text-decoration: none
}
#upload {
	padding: 8px;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	background: #f2f2f2;
	color: #3366cc;
	border: 1px solid #ccc;
	width: 120px;
	display: block;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin: 0 auto;
	text-decoration: none
}

/*
ul {
	margin: 0;
	padding: 0;
	font: bold 13px Arial, Helvetica, sans-serif;
	list-style-type: none;
	text-decoration: none;
	color: #fff;
	background-color: #39f;
}
li {
	text-decoration: none;
	color: #ccc;
	background-color: #fff;
	padding: 3px 0px 3px 0px;
}
.li_hover:hover {
	background: #D7F5FF;
}*/