		#content2 {
            width: 450px;
            margin: 1px auto;
            height: 300px;
            border: 2px solid #F3F3F3;
            padding-top: 1px;
            overflow-y: auto
        }
       
        #upload2 {
            padding: 8px;
            font: bold 12px Arial, Helvetica, sans-serif;
            text-align: center;
            background: #f2f2f2;
            color: #3366cc;
            border: 1px solid #ccc;
            width: 120px;
            display: block;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            margin: 0 auto;
            text-decoration: none
        }
        ul {
            margin: 0;
            padding: 0;
            font: bold 13px Arial, Helvetica, sans-serif;
            list-style-type: none;
            text-decoration: none;
            color: #fff;
            background-color: #39f;
        }
        li {
            text-decoration: none;
            color: #ccc;
            background-color: #fff;
            padding: 3px 0px 3px 0px;
        }
        .li_hover:hover {
            background: #D7F5FF;
        }